html, body {
  margin: 0;
  padding: 20px;
  height: 100%;
}

body {
  display: flex;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #593328;
  background:#ebcdb5;
}

#gameboard{  
  border-collapse: collapse;
  height: 400px;
  width: 400px;
  
}

td{
  height: 33%;
  width: 33%;
  text-align: center;
}

tbody :nth-child(2) td{
  border-top: 5px solid #ed9b7e;
  border-bottom: 5px solid #ed9b7e;
}

tr :nth-child(even){
  border-right: 5px solid #d66942;
  border-left: 5px solid #d66942;
}

aside{
  visibility: hidden;
}

.osquare{
  font-size: 50px;
  color: #7d5738;
}

.xsquare{
  font-size: 50px;
  color: #9c8056;
}

aside{
  display: flex;
  flex-direction: column;
}

#reset{
  align-items: center;
  flex: 1;
  
}

